@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000000;
  --background-color: #d9d9d9;
  --nav-color: #d9d9d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-color: #131313;
    --nav-color: 0;
  }
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-color);
}

h1
{
  font-size: 40px;
  font-weight: bold;
}

h2
{
  font-size: 30px;
  font-weight: bold;
}

#content {
  width: auto;
  margin: 0 10vw;
}

@media screen and (max-width: 640px) {
  #content {
    margin: 0 5vw;
  }
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
  .sm-d-normal{
    display: initial;
  }
}

